header{
    display: flex;
    background-color: aliceblue;
   justify-content: space-between;
    padding: 50px;
}

*{
    background-color: azure;
}
input{
    padding: 10px 10px;
}
input:active{
    cursor: grab;
}
*{
    box-sizing: border-box;
}
label {
    display: inline-block;
    width:100px;
    text-align: left;
  }
